<form asp-action="Index">
    <p>
        <label> Nhap text:</label>
        <input type="text" name="strInput">
        <input type="submit" value="Xu ly chuoi">

    </p>
    <h2>@ViewBag.deleteWhite</h2>
</form>